body {
  background: url(http://eskipaper.com/images/star-wars-wallpaper-3.jpg);
  color: gold;
}

.btn {
  background-color: gold;
  color: black;
}
li {
  margin: 5px;
}

p {
  margin-left: 20px;
}

h2 {
  margin-left: 20px;
}
